.card {
  background-color: #3a89f0;
  align-items: center;
  justify-content: center;
  display: block;
  max-width: 300px;
  font-size: 1.5em;
  border-radius: 8px;
  box-shadow: 0 5px 10px #0000000d;
  color: white;
  font-size: calc(10px + 2vmin);
  margin-top: 15px;
  margin-bottom: 15px;
}
