.entire {
  margin-top: -15px;
  width: 270px;
  height: 90px;
  display: flex;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
}

.floatChild {
  float: 1;
  width: 70%;
  text-align: left;
  padding-left: 6px;
}
.mainText {
  font-size: 16px;
  font-weight: 500;
}
.subText {
  font-weight: 400;
  padding-top: 5px;
  font-size: 0.45em;
  text-decoration: underline;
}
.subText a {
  color: white;
}
.responseText {
  color: white;
  font-size: 20px;
  font-weight: 1000;
  padding-right: 10px;
}
.tooltip {
  position: absolute;
  top: 13px;
  right: 10px;
}
.tooltip a {
  font-size: 10px;
  font-weight: 1.5em;
  color: white;
  border-radius: 10px;
  background-color: rgba(91, 147, 222, 0.822);
  border: 1px solid rgb(196, 215, 240);
}
